
@media screen and (max-width: 768px) {
    .part1{
        padding: 8px;
    }

    .part2{
        padding: 8px;
    }

    .part3{
        padding: 8px;
    }

    .respons_card{
        padding: 8px;
    }
  
}

